$main-border-color: #0f264f;
$element-color: #ffc410;
$tip-color: #ffafb9;

// ---- font ------
$font-family-primary: 'ProximaNova', sans-serif;

$font-weight-bold: 700;
$font-weight-medium: 600;
$font-weight-normal: 500;

$font-size-small: 16px;

