.info{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 56%;

  &__item{
    height: 200px;
    width: 350px;
    overflow: hidden;
    display: flex;
    border: 2px $tip-color solid;
    align-items: center;
    margin: 10px;

    &-avatar{
      width: 150px;
      height: 150px;
      background-origin:content-box;
    }

    &-content{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }
}