@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.woff") format("embedded-opentype"),
  url("../fonts/ProximaNova-Light.woff") format("woff"),
  url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: $font-weight-normal;
  font-style: normal;
}
