.info__sort-button {
  border: 2px solid #ffc410;
  background-color: #ffc410;
  transition: all 0.3s ease-in-out; }
  .info__sort-button:hover {
    background: none;
    border-color: #0f264f; }

body {
  box-sizing: border-box;
  overflow-y: auto;
  width: 1349px; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem; }

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6; }

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6; }

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer; }

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6; }

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5; }

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem; }

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem; }

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5; }

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem; }

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem; }

.info {
  padding: 10px;
  display: flex; }
  .info__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .info__items {
    display: flex;
    flex-wrap: wrap;
    width: 57%;
    margin-bottom: 10px; }
  .info__item {
    height: 175px;
    width: 350px;
    overflow: hidden;
    display: flex;
    border: 2px #ffafb9 solid;
    align-items: center;
    margin: 10px; }
    .info__item-avatar {
      width: 150px;
      height: 150px;
      background-origin: content-box; }
    .info__item-content {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      overflow: hidden;
      width: 170px; }
      .info__item-content > span {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 2px 0; }
  .info__sort {
    display: flex;
    flex-direction: column;
    border: 2px #ffafb9 solid;
    width: 262px;
    height: 150px;
    position: fixed;
    padding: 5px;
    align-items: center;
    margin-top: 10px; }
    .info__sort-button {
      display: block;
      box-sizing: border-box;
      text-align: center;
      height: 30px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      outline: none;
      width: 100px;
      margin: 10px auto 0; }
    .info__sort-select {
      width: 150px;
      margin: 5px; }
    .info__sort-item {
      display: flex; }
    .info__sort-label {
      overflow: hidden;
      width: 110px;
      height: 40px; }

.about {
  padding: 10px; }
  .about__img {
    width: 700px;
    height: 900px; }

.header {
  display: flex;
  padding: 10px;
  background-color: #ddd; }
  .header__menu {
    display: flex; }
    .header__menu-item {
      margin-right: 10px;
      text-decoration: none;
      font-size: 16px; }
