@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
body {
  box-sizing: border-box;
  overflow-y: auto; }

span, h1, h2, h3, h4, a {
  font-family: 'ProximaNova', sans-serif; }

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.woff") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.woff") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

.star-full:before, .star-empty:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.star-full:before {
  content: ""; }

.star-empty:before {
  content: ""; }

.star-full {
  color: #ffc410; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.info {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 56%; }
  .info__item {
    height: 200px;
    width: 350px;
    overflow: hidden;
    display: flex;
    border: 2px #ffafb9 solid;
    align-items: center;
    margin: 10px; }
    .info__item-avatar {
      width: 150px;
      height: 150px;
      background-origin: content-box; }
    .info__item-content {
      display: flex;
      flex-direction: column;
      margin-left: 10px; }

.header {
  display: flex;
  padding: 10px;
  background-color: #ddd; }
  .header__menu {
    display: flex; }
    .header__menu-item {
      margin-right: 10px;
      text-decoration: none;
      font-size: 16px; }
